{% extends "base.html" %}
{% block content %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

<h1>Kaikki asiakkaat</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tunnus</th>
            <th>Käyttäjätunnus</th>
            <th>Nimi</th>
            <th>Puhelinnumero</th>
        </tr>
    </thead>

    <tbody>
        {% for asiakas in asiakkaat %}
        <tr>
            <td><a href="{{base_path}}/asiakas/{{asiakas.tunnus}}/muokkaa">{{asiakas.tunnus}}</a></td>
            <td>{{asiakas.kayttajatunnus}}</td>
            <td>{{asiakas.nimi}}</td>
            <td>{{asiakas.puhelinnumero}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}