{% extends "base.html" %}
{% block content %}
{%import "macros/forms.html" as forms %}

<a href="{{base_path}}/varasto">Varasto</a>
<br>

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

<h1>Juoma</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Juoma</th>
            <th>Kpl</th>
            <th>Hinta</th>
            <th>Tilavuus</th>
            <th>Alkoholiprosentti</th>
            <th>Kuvaus</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{juoma.juoma}}</td>
            <td>{{juoma.kpl}}</td>
            <td>{{juoma.hinta}}</td>
            <td>{{juoma.tilavuus}}</td>
            <td>{{juoma.alkoholiprosentti}}</td>
            <td>{{juoma.kuvaus}}</td>
        </tr>
    </tbody>
</table>
<p>
    {{forms.muokkaa_button("#{base_path}/varasto/#{juoma.tunnus}/muokkaa")}}
</p>
<br>
<br>
<h4>Poista juoman tiedot</h4>
{{forms.poista_button("#{base_path}/varasto/#{juoma.tunnus}/poista")}}
{% endblock %}